* {
    margin: 0;
}

.container {
    
    text-align: center;
    background-color:rgb(145, 47, 47);
    padding: 40px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.menu {
    padding: 0;
    text-align: center;
}

.menu li {
    list-style: none;
    display: inline-block;

}

.menu a {

   display: block;
    text-decoration: none;
    padding: 16px;
}

.menu a:hover {
    background-color: orangered;
    color: white;
}

footer {

   
}

.container {
    display: flex;
    align-items: center;
    
}